{% extends 'base.html' %}

{% block content %}


<p><a href="{{ url_for('choose')}}">Выбрать другого оператора</a></p>



<div class="requests_container">
    <p>Все заявки оператора: {{operator}}</p>
    {% for item in data.items %}
        <p><a href="{{url_for('showreq',id=item.id)}}">{{item.request_id}}</a></p>
    {% endfor %}

    {% for page in data.iter_pages() %}
        {% if page %}
            <a href="/reqlist/{{page}}">{{page}}</a>
        {% endif %}
    {% endfor %}
</div>


{% endblock %}