{% extends 'base.html' %}


{% block content %}
    <div class="login_form">
        <form action="/login" method="POST">
            <p><input type="text" name="username" placeholder="Пользователь" required></p>
            <p><input type="text" name="password" placeholder="Пароль" required></p>
            <p><input type="submit" value="Войти в аккаунт"></p>
        </form>
    </div>
    <div class="register_btn">
        <a href="/register">Перейти на регистрацию</a>
    </div>

{% endblock %}