{% extends 'base.html' %}


{% block content %}
    <div class="register_form">
        <form action="/register" method="POST">
            <p><input type="text" name="username" placeholder="Пользователь" required></p>
            <p><input type="text" name="password" placeholder="Пароль" required></p>
            <p><input type="text" name="password2" placeholder="Повторите пароль" required></p>
            <p><input type="submit" value="Зарегистрироваться"></p>
        </form>
    </div>

{% endblock %}