{% extends 'base.html' %}

{% block content %}
<div class="table_container">
    <table>
    <caption>Информация по заявке:</caption>
    <tr class="tbl_row">
        <th>Номер заявки</th>
        <th>Номер договора</th>
        <th>Дата и время создания</th>
        <th>Статус просрочки</th>
        
    </tr>
    <tr class="tbl_row">
        <td>{{data.request_id}}</td>
        <td>{{data.contract_id}}</td>
        <td>{{data.created}}</td>
        <td>{{data.status}}</td>
    </tr>
    </table>
</div>


{% endblock %}